/* Estilos Generales */
*{
    font-family: "Quicksand", sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
.body{
    background-color: black
}
.centrar-texto{
    display: flex;
    text-align: center;
    height: 100%;
}
.header a{
    color:black;
    text-decoration: none;
}
.whatsappcontainer{
    background-color: rgba(240, 220, 220, 0.956);
    width: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 1rem;
    right: 1rem;
    
    cursor: pointer;
}
.whatsapplogo{
    width: 5rem;

}
ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.oscurecer-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f5f5dc81;
}


.titulos-margin {
    margin: 2rem;
    display: flex;
    text-decoration: underline;  
    text-underline-offset: 0,5rem;
    text-decoration-thickness: 0,1rem;
    color: black;
}
.text-center{
    text-align: center;
}


/* Header Estilos */

.index-header,.proyectos-header {
    background-image: url(../imagenes/FONDO9.jpg);
    background-size: cover;
    
    position: relative;
    height: 95vh;
}
.proyectos-header{
    background-image: url(../imagenes/FONDOBLANCOCONPLANTA.jpg);
    background-position: right;
}
.index-header a{
    border: 1px solid #f5f5dc81;
    padding: 0.5rem;

}
.index-h1 {
    color: black;
    text-align: center;

 }
.index-header-btn {
    
    background-color: darkgray;
    padding: 0.5rem 2rem;
    border-radius: 0,3rem;
    border: none;
    color: var(rgb(0, 0, 0));
    margin: 2rem;
   
}

.index-header-contenedor-superior {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

  
}
.flex-botones{
    display: flex;
    gap: 2rem;
    
}
.logosheader{
   width: 4mer; 
   height: 4rem;
   object-fit: cover;

}
.index-header-contenedor-inferior{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 1,5rem;

    gap: 2rem;

}
.bienvenida-texto{
    font-size: 2rem;
    text-align: center;
 
}
.index-header-contenedor-inferior p{
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    
}

.fondonegro{
    background-color:black;
 
}



/* Main Estilos */

main{
    margin: 2rem;
    padding: 0 1rem;
}

.card-proyecto {
  
    padding-bottom: 1rem;
    border-radius: 0,5rem;
    box-shadow: 0px 0px 20px 0px rgba(184, 170, 170, 0.956);
}



.card-proyecto img {
    width: 90%;
    border-radius: 5rem;
    object-fit: cover;
}

.p {
    text-align: center;
    

}
.contenedor-proyectos-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
padding: 0 1rem;

}
.contenedor-proyectos-grid_1,
.contenedor-proyectos-grid_2,
.contenedor-proyectos-grid_3,
.contenedor-proyectos-grid_4,
.contenedor-proyectos-grid_5 {
    background-color: white;
    max-width: 30rem;
    padding-bottom: 1rem;
    border: 1px solid black
}
.contenedor-proyectos-grid_1 img,
.contenedor-proyectos-grid_2 img,
.contenedor-proyectos-grid_3 img,
.contenedor-proyectos-grid_4 img,
.contenedor-proyectos-grid_5 img {
    width: 100%;

}
.contenedor-proyectos-grid_1 p,
.contenedor-proyectos-grid_1 h3,
.contenedor-proyectos-grid_2 p,  
.contenedor-proyectos-grid_2 h3,
.contenedor-proyectos-grid_3 p,
.contenedor-proyectos-grid_3 h3,
.contenedor-proyectos-grid_4 p,
.contenedor-proyectos-grid_4 h3, 
.contenedor-proyectos-grid_5 p
.contenedor-proyectos-grid_5 h3{
   padding-left: 1rem;
}

.proyectos-h2{
    margin: 2rem;
}

/* Experiencias Estilos */

.experiencia-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0 1rem;
}

.experiencia-card {
    padding: 2rem ;
    border-radius: 0,5rem;
    background-color: #a896963d;
    text-align: center;
    max-width: 25rem;
   
}
 .experiencia-card h2 {
    margin:  0,5rem 0;
}
.experiencia-card p {
    font-weight: 300;
}

.proyecyo-container {
    gap: 2,5rem;
}    
.experiencia-container-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0,5rem;

    padding: 0 1rem;
    margin-bottom: 1rem;
}
.experiencia-container-grid article {
    border: 1px solid black
}
.experiencia_1 {
    grid-area: 1/1/2/3;
}
.experiencia_2 {
    grid-area: 1/3/2/4;
}
.experiencia_3 {
    grid-area: 2/1/3/2;
}
.experiencia_4 {
    grid-area: 2/2/3/4;
}
/* Footer Estilos */
.derechos-footer {
    display: flex;
    color:black;
      padding: 1rem;

    text-decoration: underline;  
    text-underline-offset: 0,5rem;
    text-decoration-thickness: 0,1rem;   
    gap: 1rem;

}

.footer {
    background-color: var(black);
    padding: 2rem 0;
    gap: 1rem;
}


footer img{
    display: flex;
    width: 100%;
    object-fit: cover;
    height: 20vh;
    gap: 1rem;
    border-radius: 1rem;
  

}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0,5rem;
    width: 20rem;
}



@media only screen and(min-width:800px){
    .index-header-contenedor-superior{
        border: black;
    }
    .index-header-contenedor-superior, .ul{
        flex-direction: row;
    }
 
    }
  
