/* Main Estilos */

main{
    margin: 2rem;
    padding: 0 1rem;
}

.card-proyecto {
  
    padding-bottom: 1rem;
    border-radius: 0,5rem;
    box-shadow: 0px 0px 20px 0px rgba(184, 170, 170, 0.956);
}



.card-proyecto img {
      width: 40%;
    border-radius: 4rem;
    object-fit: cover;
    text-align: center;
}

.p {
    text-align: center;
    

}
.contenedor-proyectos-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
padding: 0 1rem;

}
.contenedor-proyectos-grid_1,
.contenedor-proyectos-grid_2,
.contenedor-proyectos-grid_3,
.contenedor-proyectos-grid_4,
.contenedor-proyectos-grid_5 {
    background-color: $blanco;
    max-width: 30rem;
    padding-bottom: 1rem;
    border: 1px solid black
}
.contenedor-proyectos-grid_1 img,
.contenedor-proyectos-grid_2 img,
.contenedor-proyectos-grid_3 img,
.contenedor-proyectos-grid_4 img,
.contenedor-proyectos-grid_5 img {
    width: 100%;
    

}
.contenedor-proyectos-grid_1 p,
.contenedor-proyectos-grid_1 h4,
.contenedor-proyectos-grid_2 p,  
.contenedor-proyectos-grid_2 h4,
.contenedor-proyectos-grid_3 p,
.contenedor-proyectos-grid_3 h4,
.contenedor-proyectos-grid_4 p,
.contenedor-proyectos-grid_4 h4, 
.contenedor-proyectos-grid_5 p
.contenedor-proyectos-grid_5 h4,
.contenedor-proyectos-grid_6 p,
.contenedor-proyectos-grid_6 h4, 
.contenedor-proyectos-grid_7 p,
.contenedor-proyectos-grid_7 h4{
   padding-left: 1rem;
    align-content: center;
}

.proyectos-h2{
    margin: 2rem;
}